* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

/* Header section */
.banner {
    width: 100%;
    height: 800px;
}

.banner-element {
    width: 525px;
    text-align: right;
    position: absolute;
    top: 220px;
    right: 150px;
}

.banner-title {
    font-weight: 700;
    font-size: 55px;
    line-height: 76px;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.banner-description {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.btn-banner {
    width: 180px;
    height: 55px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    border: none;
    border-radius: 10px;
    color: #005FAC;
    background-color: white;
}

.banner-img {
    width: 100%;
    height: auto;
}